## editors
/.vscode

## system files
.DS_Store

## npm
/node_modules/
/npm-debug.log

## testing
/coverage/

## temp
/.tmp/
/storybook-static/
local.log

## browserstack
browserstack.err

## Generated types
index.d.ts
components/**/*.d.ts

# build
/_site/
/dist/

# Ignore all IntelliJ stuff and include the important things
# @see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/.idea/*
!/.idea/codeStyles/
!/.idea/jsLinters/
!/.idea/runConfigurations/
!/.idea/codeStyleSettings.xml
!/.idea/encodings.xml
!/.idea/prettier.xml
*.iml

